<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Register page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <style>
        body{
            background: url("https://cdn.dribbble.com/users/43762/screenshots/1438974/ng-colab-space_night.gif") no-repeat fixed;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" style="padding-top: 50px;">
            <h1 class="display-5 text-white">Register</h1>
            <form action="/user/reg" , method="POST">
                <div class="form-group">
                    <label class="col-sm-2 col-form-label text-white">Email</label>
                    <input type="text" name="email" required=""/>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label text-white">Password</label>
                    <input type="password" name="password" required=""/>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label text-white">First Name</label>
                    <input type="text" name="firstname" required=""/>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label text-white">Last Name</label>
                    <input type="text" name="lastname" required=""/>
                </div>
                <button type="submit" class="btn btn-primary">Register</button><br/>
                <% if (typeof (stt) !== 'undefined') {
                if (stt == "error") {
                %>
                <span style="color: red"><%= message %></span><br/>
                <% }
                if (stt == "new") {
                %>
                <span style="color: green"><%= message %></span><br/>
                <% }} %>
            </form>
            <br/>
            <a href="/">Back to the login page</a>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
</div>
</body>